*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

.banner{
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgba(0,0,0,0),rgba(0,0,0,200)),url(other/placeholder.jpg);
    background-size: cover;
    background-position: center;
    z-index: -1;
}

.navbar{
    width: 85%;
    padding: 0;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo{
    width: 30%;
    height: 30%;
    position: relative;
    background: transparent;
}

.logo img{
    cursor: pointer;
}

/*.navbar ul{

}*/

.navbar ul li{
    list-style: none;
    display: inline-block;
    margin: 0 20px;
    position: relative;
    left: 0;
}

.navbar ul li a{
    text-decoration: none;
    color: white;
}

.navbar ul li::after{
    content: '';
    height: 3px;
    width: 0;
    background: white;
    position: absolute;
    left: 0;
    bottom: -7px;
    transition: 0.5s;
}

.navbar ul li:hover::after{
    width: 100%;
}

.content{
    color: white;
    width: 100%;
    position: absolute;
    top: 40%;
    transform: translateY(-50%);
    text-align: center;
}

.content h1{
    padding: 20px;
    font-size: 75px;
}

.footer{
    position: initial;
    bottom: 0;
    width: 100%;
    height: 150px;
    color: white;
    background-color: rgb(2, 2, 86);
    text-align: center;
}

.footer ul{
    position: relative;
    top: 50%;
}

.footer ul a{
    color: white;
    text-decoration: none;
}

.footer ul a:hover{
    color: white;
    text-decoration: underline;
}

.paragraph{
    border: 0px dashed yellow;
    position: static;
    width: 100%;
    background: black;
    background-position: center;
    background-size: cover;
}

.paragraph h2{
    font-size: 50px;
    color: white;
    position: relative;
    padding: 15px;
}

.training{
    display: flex;
    align-items: center;
    justify-content: space-evenly; 
    border: 0px solid blue;
}

.zeiten{
    width: 45%;
    border: 0px solid red;
}

.zeiten h3{
    color: white;
    padding: 15px;
}

.zeiten p{
    color: white;
    padding-top: 5px;
    margin-left: 25px;
    font-size: 15px;
}

.trainer_bild{
    width: 45%;
    padding: 30px;
}

.button{
    width: 150px;
    height: 25px;
    margin: 15px;
    cursor: pointer;
    outline: none;
    border: none;
    text-align: center;
    border-radius: 25px;
    border: 2px solid white;
    color: white;
    background: black;
    transition: 0.3s;
}

.button a{
    color: white;
    text-decoration: none;
    transition: 0.3s;
}

.button:hover{
    background: white;
}

.button:hover a{
    color: black;
}

.icons{
    top: 50%;
    right: 0;
    position: fixed;
    z-index: 100;
}

.icons ul a{
    width: 50px;
    height: 50px;
}

.icons ul li{
    height: 14px;
    width: 14px;
    list-style-type: none;
    padding-left: 20px;
    padding-top: 20px;
    padding-right: 20px;
    padding-bottom: 25px;
    margin-top: 0px;
    margin-right: 0px;
    color: #fff;
    align-items: center;
    transition: 0.5s;
}

.instagram{
    width: 40px;
    height: 40px;
}

.instagram:hover{
    background: #E1306C;
    width: 100%;
    cursor: pointer;
}

.facebook:hover{
    background: #1877F2;
    width: 100%;
    cursor: pointer;
}


/*BEGINN KONTAKT.HTML*/

.kontakt{
    position: relative;
    width: 75%;
    margin: auto;
    height: 80vh;
    border: 0px dashed white;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.kontakt_bild{
    border: 0px dotted yellow;
    
    height: 60vh;
    width: 50%;
}

.kontakt_text{
    border: 0px dotted yellow;
    width: 50%;
    height: 50vh;
    color: white;
}

.kontakt_text .kontakt_h2{
    display: grid;
    text-align: center;
    text-decoration: underline;
    margin: 25px;
}

.kontakt_text .kontakt_h3{
    margin: 25px;
}

.kontakt_text .kontakt_p{
    margin-top: 15px;
    margin-left: 35px;
}


/*BEGINN TRAINING.HTML*/

.navbar_upage{
    background: black;
}

.paragraph_upage h2{
    font-size: 50px;
    color: white;
    position: relative;
    padding: 15px;
}

.paragraph_upage p{
    margin-left: 25px;
}